@import '@/styles/variables.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  li {
    &.active {
      pointer-events: none;

      a {
        color: $white;
        background-color: $black;

        [data-theme='dark'] & {
          color: $black;
          background-color: $white;
        }
      }
    }
    a {
      padding: 2px;
      border: 1px solid $black;
      width: 30px;
      height: 30px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s opacity linear;

      [data-theme='dark'] & {
        color: white;
        border-color: white;
      }

      &:hover {
        opacity: 0.7;
      }

      @media (min-width: 768px) {
        width: 40px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
