.header {
  padding: 20px 0;

  & &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & &__navigation {
    display: flex;
    align-items: center;
  }

  & &__logo {
    max-width: 130px;
    width: 100%;
  }
}
