@import '@/styles/variables.scss';

.search {
  & &__box {
    position: relative;
  }
  & &__button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 50px;
    padding: 14px;
  }

  & &__input {
    width: 100%;
    border-radius: 4px;
    padding-left: 54px;
    height: 50px;
    outline: none;
    color: $black;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    [data-theme='dark'] & {
      color: $white;
    }
  }
}
